[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
lxml = "*"
psycopg2 = "*"
python-dateutil = "*"
tabulate = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
